body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background-color: black;
}

#counter {
  display: flex;
  width: 100%;
  justify-content: center;
}

#counterDisplay {
  font-size: 4rem;
  text-align: center;
  color: whitesmoke;
}

#counter button {
  border: none;
  padding: 0.5rem 1rem;
  font-size: 2rem;
  cursor: pointer;
  border-radius: 0.5rem;
}

#counterAdd {
  background-color: chartreuse;
}

#counterSub {
  background-color: brown;
}
